body {
	background-image: url(/user/img/bg.jpg);
	background-size:100%;
}
div#content {
	width: 338px;
  height: 160px;
  margin-left:0 auto;
	text-align: center;
	display: table;
  background-color: #ffffff;
  
  border: 1px solid black;
  /* for IE */
  filter:alpha(opacity=60);
  /* CSS3 standard */
  opacity:0.6;
	
	
}

#login {
	height: 40px;
	width: 300px;
	font-family: 微软雅黑, 宋体;
	font-size: 20px;
	color: #000000;
	background-color: #0080ff;
}

#name {
	height: 25px;
	width: 200px;
}

#passwd {
	height: 25px;
	width: 200px;
}

.center {
	width: 0;
	height: 0;
	position: fixed;
	left: 50%;
	rigth: 50%;
	top: 50%;
	bottom: 50%;
}

.vertical {
	width: 600px;
	height: 220px;
	margin-left: -300px;
	margin-top: -110px;
}