<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keda.webDemo.umcs.dao.RecivMsg">
	<resultMap type="com.keda.webDemo.umcs.dao.dto.RecivMsg" id="recivMsg">
		<id property="id" column="id" />
		<result property="sendMsgId" column="send_msg_id" />
		<result property="sendId" column="send_id" />
		<result property="recivUserId" column="reciv_user_id" />
		<result property="isRead" column="is_read" />	
	</resultMap>
	<select id="selectByUserId" resultMap="recivMsg">
		select id,send_msg_id,send_id,reciv_user_id,is_read
		from reciv_msg where reciv_user_id = #{recivUserId}
		<if test="sendId != null">
			and send_id = #{sendId}
		</if>
		<if test="isRead != null">
			and is_read = #{isRead}
		</if>
	</select>
	
	<insert id="insert" parameterType="com.keda.webDemo.umcs.dao.dto.RecivMsg">
		insert into reciv_msg
		(send_msg_id,send_id,reciv_user_id)
		values
		(#{sendMsgId},#{sendId},#{recivUserId});
	</insert>
	
	<update id="updateReadState" parameterType="java.lang.Integer">
		update send_msg set
		is_read=1
		where id = #{id}
	</update>
	
	<delete id="delete" parameterType="java.lang.Integer">
		delete from reciv_msg
		where id = #{id}
	</delete>
</mapper>