<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keda.webDemo.umcs.dao.SendMsg">
	<resultMap type="com.keda.webDemo.umcs.dao.dto.SendMsg" id="sendMsg">
		<id property="id" column="id" />
		<result property="sendUserId" column="send_user_id" />
		<result property="recivId" column="reciv_id" />
		<result property="sendType" column="send_type" />
		<result property="msg" column="msg" />
		<result property="msgType" column="msg_type" />
		<result property="sendTime" column="send_time" />
	</resultMap>
	<select id="select" resultMap="sendMsg">
		select id,send_user_id,reciv_id,send_type,msg,msg_type,send_time
		from send_msg where id = #{id};
	</select>
	
	<select id="selectBySendTime" resultMap="sendMsg">
		select id,send_user_id,reciv_id,send_type,msg,msg_type,send_time
		from send_msg where send_time&lt;#{sendTime};
	</select>
	
	<select id="selectCount" resultType="java.lang.Integer">
		select count(id)
		from send_msg where
		<if test="sendUserId != null">
			send_user_id = #{sendUserId} and
		</if>
		<if test="recivId != null">
			reciv_id = #{recivId} and
		</if> 
		del_flag = 0;
	</select>
	
	<select id="selectHistoryMsg" resultMap="sendMsg">
		select id,send_user_id,reciv_id,send_type,msg,msg_type,send_time
		from send_msg where
		send_user_id = #{sendUserId} or
		reciv_id = #{send_user_id} and
		<if test="sendType != null">
			send_type = #{sendType} and
		</if>
		del_flag = 0 ORDER BY id DESC
	</select>
	
	<select id="selectBySendUserId" resultMap="sendMsg">
		select id,send_user_id,reciv_id,send_type,msg,msg_type,send_time
		from send_msg where
		send_user_id = #{sendUserId} or
		reciv_id = #{sendUserId} and
		send_type = #{sendType} and
		del_flag = 0 ORDER BY id DESC
	</select>
	
	<select id="selectByRecivId" resultMap="sendMsg">
		select id,send_user_id,reciv_id,send_type,msg,msg_type,send_time
		from send_msg where
		reciv_id = #{recivId} and
		send_type = #{sendType} and
		del_flag = 0 ORDER BY id DESC
	</select>
	
	<select id="selectByUserId" resultMap="sendMsg">
		select id,send_user_id,reciv_id,send_type,msg,msg_type,send_time
		from send_msg where
		
		<if test="sendUserId != null">
			send_user_id = #{sendUserId} and
		</if>
		<if test="recivId != null">
			reciv_id = #{recivId} and
		</if>
		<if test="sendType != null">
			send_type = #{sendType} and
		</if>
		del_flag = 0
	</select>
	<insert id="insert" parameterType="com.keda.webDemo.umcs.dao.dto.SendMsg" useGeneratedKeys="true" keyProperty="id">
		insert into send_msg
		(send_user_id,reciv_id,send_type,msg,msg_type)
		values
		(#{sendUserId},#{recivId},#{sendType},#{msg},#{msgType});
	</insert>
	<delete id="delete" parameterType="java.lang.Integer">
		delete from send_msg
		where id = #{id}
	</delete>
</mapper>