<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keda.webDemo.umcs.dao.SendMsg">
	<resultMap type="com.keda.webDemo.umcs.dao.dto.SendMsg" id="sendMsg">
		<id property="id" column="id" />
		<result property="sendUserId" column="send_user_id" />
		<result property="recivUserId" column="reciv_user_id" />
		<result property="msg" column="msg" />
		<result property="msgType" column="msg_type" />
		<result property="sendTime" column="send_time" />
		<result property="delFlag" column="del_flag" />
	</resultMap>
	<select id="select" resultMap="sendMsg">
		select id,send_user_id,reciv_user_id,msg,msg_type,send_time
		from send_msg where id = #{id} and del_flag = 0;
	</select>
	
	<select id="selectCount" resultType="java.lang.Integer">
		select count(id)
		from send_msg where
		<if test="sendUserId != null">
			send_user_id = #{sendUserId} and
		</if>
		<if test="recivUserId != null">
			reciv_user_id = #{recivUserId} and
		</if> 
		del_flag = 0;
	</select>
	
	<select id="selectByUserId" resultMap="sendMsg">
		select id,send_user_id,reciv_user_id,msg,msg_type,send_time
		from send_msg where
		
		<if test="sendUserId != null">
			send_user_id = #{sendUserId} and
		</if>
		<if test="recivUserId != null">
			reciv_user_id = #{recivUserId} and
		</if>
		del_flag = 0
	</select>
	<insert id="insert" parameterType="com.keda.webDemo.umcs.dao.dto.SendMsg">
		insert into send_msg
		(send_user_id,reciv_user_id,msg,msg_type)
		values
		(#{sendUserId},#{recivUserId},#{msg},#{msgType});
	</insert>
	<update id="delete" parameterType="java.lang.Integer">
		update send_msg set
		del_flag=1
		where id = #{id}
	</update>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from send_msg
		where id = #{id}
	</delete>
</mapper>